<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Check Fetal Health</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fetal Health Detector</a>
        </div>
    </nav>
    <div class="container paragraph">
        <h1>About Fetal Health</h1>
        <p>
            Fetal health refers to the overall well-being and development of a fetus during pregnancy, which is influenced by various genetic, environmental, and maternal factors. Ensuring fetal health is vital for preventing complications during pregnancy and childbirth, as well as promoting a healthy start to life. Key factors that contribute to fetal health include proper maternal nutrition, regular prenatal care, and the avoidance of harmful substances such as alcohol, tobacco, and certain medications. Monitoring fetal growth and development through ultrasounds, blood tests, and other diagnostic tools allows healthcare providers to detect and manage potential issues, such as fetal distress, growth restrictions, or congenital anomalies. Maintaining a healthy lifestyle and managing maternal conditions like hypertension, diabetes, or infections are crucial steps to ensure the optimal health of the fetus throughout gestation.
        </p>
    </div>

    <div class="container">
        <h1>Fetal Health Input Form</h1>
        <form action="/" method="POST">
            <div class="form-row">
                <div class="form-group">
                    <label for="baseline_value">Baseline Value (100.0-170.0):</label>
                    <input type="number" id="baseline_value" name="baseline_value" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="accelerations">Accelerations (0.0-0.020):</label>
                    <input type="number" id="accelerations" name="accelerations" step="0.001" required>
                </div>
                <div class="form-group">
                    <label for="fetal_movement">Fetal Movement (0.0-0.500):</label>
                    <input type="number" id="fetal_movement" name="fetal_movement" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="uterine_contractions">Uterine Contractions (0.0-0.020):</label>
                    <input type="number" id="uterine_contractions" name="uterine_contractions" step="0.001" required>
                </div>
                <div class="form-group">
                    <label for="abnormal_short_term_variability">Abnormal Short Term Variability (10.0-90.0):</label>
                    <input type="number" id="abnormal_short_term_variability" name="abnormal_short_term_variability" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="mean_short_term_variability">Mean Short Term Variability (0.0-0.7):</label>
                    <input type="number" id="mean_short_term_variability" name="mean_short_term_variability" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="percentage_abnormal_long_term_variability">% Abnormal Long Term Variability (0.0-100.0):</label>
                    <input type="number" id="percentage_abnormal_long_term_variability" name="percentage_abnormal_long_term_variability" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="mean_value_of_long_term_variability">Mean Long Term Variability (0.0-60.0):</label>
                    <input type="number" id="mean_value_of_long_term_variability" name="mean_value_of_long_term_variability" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_width">Histogram Width (3.0-180.0):</label>
                    <input type="number" id="histogram_width" name="histogram_width" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_min">Histogram Min (40.0-160.0):</label>
                    <input type="number" id="histogram_min" name="histogram_min" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_max">Histogram Max (100.0-250.0):</label>
                    <input type="number" id="histogram_max" name="histogram_max" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_number_of_peaks">Histogram Peaks (0-20):</label>
                    <input type="number" id="histogram_number_of_peaks" name="histogram_number_of_peaks" step="1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_mode">Histogram Mode (0.0-200.0):</label>
                    <input type="number" id="histogram_mode" name="histogram_mode" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_mean">Histogram Mean (0.0-200.0):</label>
                    <input type="number" id="histogram_mean" name="histogram_mean" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_median">Histogram Median (0.0-200.0):</label>
                    <input type="number" id="histogram_median" name="histogram_median" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="histogram_variance">Histogram Variance (0.0-300.0):</label>
                    <input type="number" id="histogram_variance" name="histogram_variance" step="0.1" required>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    </div>

    <div class="footer">
        <footer class="bg-body-tertiary text-center text-lg-start">
            <div class="text-center p-3" style="background-color: rgb(193, 220, 238);">
                ML models can make mistakes; don’t totally rely on the output.
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
